<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"tp-main tp-single-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull tp-main tp-single-page">
	<!-- wp:group {"align":"wide","className":"tp-single-inner","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide tp-single-inner">
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:post-date {"format":"F j, Y","className":"tp-single-date"} /-->
		<!-- wp:post-featured-image {"align":"wide","className":"tp-single-featured-image"} /-->
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
		<!-- wp:buttons --><div class="wp-block-buttons"><!-- wp:button {"className":"is-style-outline"} --><div class="wp-block-button is-style-outline"><a class="wp-block-button__link wp-element-button" href="/">Back to Home</a></div><!-- /wp:button --></div><!-- /wp:buttons -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
